body{
	padding: 0;
	margin: 0;
	font: 13px/1.5 'Microsoft YaHei','\5b8b\4f53';
	color: #666;
}
ul,nav,li,ol,h1,h2,h3,h4,p,dl,dt,dd{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #666;
	outline:none;blr:expression(this.onFocus=this.blur());
}
a:hover{
	color: #18bc9c;
}


input,
button{
	outline: none;
	background: none;
	padding: 0;
}
img,
input{
	vertical-align: middle;
	border: 0;
}


.a-link{
	color: #18bc9c;
}

.col-333{
	color: #333;
}
.col-666{
	color: #666;
}
.col-999{
	color: #999;
}
.col-theme{
	color: #f8c300;
}


/*浮动*/
.ll{
	float: left;
}
.rr{
	float: right;
}

/* 清除浮动 */
.clearfix , .clear{ display: inline-table; zoom:1;}
* html .clearfix ,* html .clear{ height:1%; }
* html .clearfix , * html .clear{ zoom:1; }
.clearfix , .clear{ display:block; }
.clear {clear: both;}
.clearfix:after ,.clear:after{ content: " "; display: block; height: 0; clear: both; visibility: hidden; line-height: 0px;}


/*两端对齐*/
.justify{
	text-align: justify;
	text-justify: inter-ideograph;
}
.justify-tags{
	margin: 0 !important;
	height: 0 !important;
	padding: 0 !important ;
	line-height: 0 !important;
	border: 0 !important;
	font-size: 1%;
}


.block{
	display: block;
}
.inline{
	display: inline-block;
	*display: inline;
	*zoom:1;
	vertical-align: middle;
}



.main{
	min-height: 680px;
}

.header{
	background-color: #18bc9c;
	text-align: center;
	min-width: 1000px;
}
.top{
	overflow: hidden;
	margin: 0 auto;
	width: 1000px;
}
.top .rr a{
	color: #fff;
	font-size: 16px;
	display: inline-block;
	line-height: 87px;
	margin-left: 15px;
}
.footer{
	background-color: #18bc9c;
	text-align: center;
	color: #fff;
	margin-top: 60px;
	padding: 30px 0;
	min-width: 1000px;
}





.defaultBtn{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 30px;
	text-align: center;
	border: 1px #333 solid;
	color: #333;
	border-radius: 3px;
	font-size: 14px;	
}

.disableBtn{
	background-color:#e7e7e7;
	border-color:#e7e7e7; 
	color: #666;
}
.submitBtn,
a.submitBtn{
	background: #f8c300;
	border-color:#f8c300;
	color: #fff;
	cursor: pointer;
}
.yellowBtn,
a.yellowBtn{
	background: #ffda44;
	border-color:#ffda44;
	color: #333;
}


.middleBtn{
	height: 38px;
	line-height: 38px;
}



.largeBtn{
	width: 100%;
	font-size: 16px;
	padding: 0;
}
.miniBtn{
	height: 20px;
	line-height: 20px;
}



.iptText{
	border: 1px #ddd solid;
	border-radius: 3px;
	height: 35px;
	line-height: 35px\9;
	padding: 0 15px;
	-webkit-appearance: none;
	background: #fff;
	width: 275px;
}